.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
  }
  
  h1 {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 10px;
    color:#7b512e;
  }

  p{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 40px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #020202;
  }
  
  button {
    background-color: #7b512e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .footer {
    background-color: #7b512e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  .footer p {
    margin: 0;
    padding: 0;
  }
  
