.doctor-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .doctor-card {
    width: 1000px;
    margin:20px;
    margin-bottom: -100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: inline-flex;
    flex-basis: calc(33.33% - 40px);
  } 
  

  .doctor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #7b512e;
    color: #fff;
  }
  
  .doctor-details {
    padding: 20px;
  }
  
  .doctor-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .doctor-contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .doctor-mobile {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .doctor-email {
    font-size: 14px;
  }
  
  .doctor-hospital {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .doctor-district {
    font-size: 14px;
  }
  